<tr>  
  <td class="col-sm-1">
    <div class="thumbnail">
      <%= image_tag product.photo_url, {'data-src' => 'holder.js/100%x55'} if product.photo? %>
    </div>
  </td>
  <td><%= product.name %></td>
  <td><%= product.description %></td>
  <td><%= l product.stored_at, format: :long %></td>
  <td><%= product.manufacturer %></td>
  <td><%= product.category %></td>
  <td><%= product.stock %></td>
  <td><%= product.price %></td>
  <td>
      <%= link_to product, class: "btn-sm btn-info" do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        <%= t '.show' %>
      <% end %>
      &nbsp;|&nbsp;
      <%= link_to edit_product_path(product), class: "btn-sm btn-warning" do %>
        <span class="glyphicon glyphicon-edit"></span>
        <%= t '.edit' %>
      <% end %>
      &nbsp;|&nbsp;
      <%= link_to product, method: :delete, class: "btn-sm btn-danger", data: { confirm: 'Are you sure?' } do %>
        <span class="glyphicon glyphicon-remove"></span>
        <%= t '.delete' %>
      <% end %>
  </td>
</tr>