<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t '.title' %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <%= link_to new_product_path, class: "btn btn-success" do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t '.new_product' %>
        <% end %>
      </div>
      <div class="col-md-2">
        <%= link_to orders_path, class: "btn btn-info" do %>
          <span class="glyphicon glyphicon-list-alt"></span>
          <%= t '.view_orders' %>
        <% end %>
      </div>
    </div>
    <br/>
    <%= render 'product_filter' %>
    <br/>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><%= t '.image' %></th>
            <th><%= t '.name' %></th>
            <th><%= t '.description' %></th>
            <th><%= t '.stored_at' %></th>
            <th><%= t '.manufacturer' %></th>
            <th><%= t '.category' %></th>
            <th><%= t '.stock' %></th>
            <th><%= t '.price' %></th>
            <th><%= t '.actions' %></th>
          </tr>
        </thead>

        <tbody>
          <%= render @products %>
        </tbody>
      </table>
    </div>
  </div>
</div>