<!DOCTYPE html>
<html>
<head>
  <title><%= t :app_title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <% unless @current_user.blank? %>
          <li><a class="navbar-brand" href="#"><%= t 'greet_user', user: @current_user.name %></a></li>
        <% end %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-user"></span>  <%= t :sign_menu %> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% if @current_user.nil? %>
              <li><%= link_to t('sign_up'), new_user_path %></li>
              <li><%= link_to t('sign_in'), signin_path %></li>
            <% else %>
              <li><%= link_to t('sign_out'), signout_path, method: :delete %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <% unless notice.blank? %>
    <div class="alert alert-success"><%= notice %></div>
  <% end %>
  <% unless flash[:error].blank? %>
    <div class="alert alert-danger"><%= flash[:error] %></div>
  <% end %>
	<%= yield %>
  <div class="panel panel-default">
    <div class="panel-body">
      <ul class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <%= t :lang_menu %> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to t('lang_es'), url_for( :locale => 'es' ) %></li>
          <li><%= link_to t('lang_en'), url_for( :locale => 'en' ) %></li>
        </ul>
      </ul>
    </div>
  </div>
</div>

</body>
</html>
